<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Add User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>


	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/movies/">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link"
					href="countStudiosMovies">Studio count</a></li>
				<li class="nav-item active"><a class="nav-link"
					href="countActorsInMovies">Count actors in movies</a></li>
				<li class="nav-item active"><a class="nav-link"
					href="showByGender">Show actors by gender</a></li>
			</ul>
		</div>
	</nav>




	<div class="container my-5">
		<h3>Update Student</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8">
					<form action="#" th:action="@{/movies/update/{id}(id=${movie.id})}"
						th:object="${movie}" method="post">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="title" class="col-form-label">Name</label> <input
									type="text" th:field="*{genre}" id="title" placeholder="title" />
							</div>


							<div class="form-group col-md-6">
								<label for="title" class="col-form-label">Title</label> <input
									type="text" th:field="*{title}" class="form-control" id="title"
									placeholder="title">
							</div>

							<div class="form-group col-md-6">
								<label for="name" class="col-form-label">Genre</label> <input
									type="text" th:field="*{genre}" class="form-control" id="genre"
									placeholder="Genre">
							</div>

							<div class="form-group col-md-6">
								<label for="studio" class="col-form-label">Studio</label> <input
									type="text" th:field="*{studio.name}" class="form-control"
									id="studio" placeholder="Genre">
							</div>

							<div class="form-group col-md-6">

								<label for="actors" class="col-form-label">Actors</label>

								<table>
									<thead>
										<tr>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Gender</th>
											<th>Image</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="actor : ${movie.actors}">
											<td><input type="text" th:value="${actor.first_name}"
												class="form-control" id="first_name"
												placeholder="First Name"></td>
											<td><input type="text" th:value="${actor.last_name}"
												class="form-control" id="last_name" placeholder="Last Name"></td>
											<td><input type="text" th:value="${actor.gender}"
												class="form-control" id="gender" placeholder="Gender">
											</td>
											<td><img th:src="${actor.img}" class="img-fluid"
												alt="Responsive image"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="form-group col-md-8">
								<input type="submit" class="btn btn-primary"
									value="Update Student">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>